
/.idea
/.venv/
/Assg2/__pycache__
*.json
*.csv
Assg2/chase.log
*.ini
Assg3/Assg3/.idea/
Assg3/.idea/
Assg3/__pycache__/app.cpython-312.pyc
Assg3/__pycache__/routes.cpython-312.pyc
Assg3/__pycache__/models.cpython-312.pyc
Assg3/migrations/
ADP/
