{% extends "base.html" %}
{% block title %}Add Record{% endblock %}
{% block content %}
    <h1>Add a New Record</h1>
    <form action="/add" method="POST">
        <label>Area:</label>
        <label>
            <input type="number" name="area" step="0.0001" required>
        </label><br>
        <label>Perimeter:</label>
        <label>
            <input type="number" name="perimeter" step="0.0001" required>
        </label><br>
        <label>Compactness:</label>
        <label>
            <input type="number" name="compactness" step="0.0001" required>
        </label><br>
        <label>Kernel Length:</label>
        <label>
            <input type="number" name="kernel_length" step="0.0001" required>
        </label><br>
        <label>Kernel Width:</label>
        <label>
            <input type="number" name="kernel_width" step="0.0001" required>
        </label><br>
        <label>Asymmetry Coefficient:</label>
        <label>
            <input type="number" name="asymmetry_coefficient" step="0.0001" required>
        </label><br>
        <label>Kernel Groove Length:</label>
        <label>
            <input type="number" name="kernel_groove_length" step="0.0001" required>
        </label><br>
        <label>Seed Class:</label>
        <label>
            <input type="number" name="seed_class" required>
        </label><br>
        <button type="submit">Add Record</button>
    </form>
{% endblock %}
