{% extends "base.html" %}
{% block title %}Home{% endblock %}
{% block content %}
    <h1>Seed Data</h1>

    {% if seeds %}
        <table border = "1">
            <thead>
            <tr>
                <th>#</th>
                <th>Id</th>
                <th>Area</th>
                <th>Perimeter</th>
                <th>Compactness</th>
                <th>Kernel Length</th>
                <th>Kernel Width</th>
                <th>Asymmetry Coefficient</th>
                <th>Kernel Groove Length</th>
                <th>Seed Class</th>
            </tr>
            </thead>
            <tbody>
            {% for seed in seeds %}
                <tr>
                    <td>{{ loop.index }}</td>
                    <td>{{ seed.seed_id }}</td>
                    <td>{{ seed.area }}</td>
                    <td>{{ seed.perimeter }}</td>
                    <td>{{ seed.compactness }}</td>
                    <td>{{ seed.kernel_length }}</td>
                    <td>{{ seed.kernel_width }}</td>
                    <td>{{ seed.asymmetry_coefficient }}</td>
                    <td>{{ seed.kernel_groove_length }}</td>
                    <td>{{ seed.seed_class }}</td>
                    <td>
                        <form action="/delete/{{ seed.seed_id }}" method="POST">
                            <button type="submit">Delete</button>
                        </form>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p>No seeds found</p>
    {% endif %}
{% endblock %}
